*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  min-height: 100vh;
  background-color: hsl(0, 0%, 20%);
  display: flex;
  flex-direction: column;
  grid-gap: 2.5rem;
  padding: 2rem 1rem;
  width: min-content;
  margin-inline: auto;
}

header {
  display: flex;
  justify-content: space-between;
  color: hsl(0, 0%, 100%);
}

.heading {
  font-size: clamp(1.5rem, 5vmin, 3rem);
  text-transform: uppercase;
  font-weight: 600;
}

select {
  margin-top: 1rem;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 5px;
}

.actions {
  display: flex;
  grid-gap: 0.5rem;
}

.timer,
.flag-count {
  width: 3.75rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  grid-gap: 0.5rem;
  font-size: clamp(0.875rem, 2vmin, 1.25rem);
  background-color: hsl(0, 0%, 18%);
  padding: 0.5rem;
  border-radius: 5px;
}

.cell-grid {
  --rows: 8;
  --columns: 8;
  display: grid;
  grid-template-columns: repeat(var(--columns), min(5rem, 4.5vmax));
  grid-template-rows: repeat(var(--rows), min(5rem, 4.5vmax));
  grid-gap: 0.25rem;
  place-content: center;
}

.cell {
  display: grid;
  place-content: center;
  cursor: pointer;
  font-size: clamp(1rem, 3vmin, 2rem);
  font-weight: 800;
  background-color: hsl(0, 1%, 65%);
  border-radius: min(1.25rem, 1vmin);
  user-select: none;
  transition: background-color 150ms ease-in-out;
}

.cell[data-type="new"]:hover {
  background-color: hsl(0, 1%, 80%);
}

.cell[data-type="mine"],
.cell[data-type="mine-opened"],
.cell[data-type="flag"],
.cell[data-type="flag-doubt"],
.cell[data-type="flag-mine"] {
  background-repeat: no-repeat;
  background-position: center;
  background-color: hsl(0, 1%, 45%);
  background-size: 45%;
}

.cell[data-type="mine"] {
  background-image: url(./images/mine.svg);
}

.cell[data-type="mine-opened"] {
  background-image: url(./images/mine-opened.svg);
}

.cell[data-type="flag"],
.cell[data-type="flag-doubt"],
.cell[data-type="flag-mine"] {
  background-color: hsl(0, 1%, 80%);
  background-image: url(./images/flag.svg);
  background-size: 30%;
}

.cell[data-type="flag-doubt"] {
  background-image: url(./images/flag-doubt.svg);
}

.cell[data-type="flag-mine"] {
  background-color: hsl(0, 65%, 51%);
}

.cell[data-type="empty"] {
  background-color: hsl(0, 1%, 80%);
}

.cell[data-number="1"] {
  background-color: hsl(23, 89%, 90%);
}

.cell[data-number] {
  --hue: 200;
  --saturation: 60%;
  --lightness: 65%;
  background-color: hsl(var(--hue), var(--saturation), var(--lightness));
  color: hsl(0, 0%, 20%);
}

.cell[data-number="2"] {
  --lightness: 55%;
}

.cell[data-number="3"] {
  --lightness: 45%;
}

.cell[data-number="4"] {
  --lightness: 40%;
}

.cell[data-number="5"] {
  --lightness: 37.5%;
}

.cell[data-number="6"] {
  --lightness: 35%;
}

.cell[data-number="7"] {
  --lightness: 32.5%;
}

.cell[data-number="8"] {
  --lightness: 30%;
}
